/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "Work Sans",
  Helvetica, sans-serif !default;
$presentation-font-size-root: 20px;
$font-family-monospace: "Courier Prime",
  monospace !default;

// colors
$body-bg: #f0f1eb !default;
$body-color: #000 !default;
$link-color: #0BA3A5 !default;
$selection-bg: #26351c !default;

// headings
$presentation-heading-color: #0BA3A5 !default;
$presentation-h1-font-size:	3.5em !important;
$presentation-h2-font-size:	2.8em !important;
$presentation-h3-font-size:	2em !important;
$presentation-h4-font-size:	1.7em !important;



$code-block-font-size: 1.2em;

/*-- scss:rules --*/

.reveal a {
  line-height: 1.3em;
}





